#tag-browser {
  position: relative;
  margin: 1.25rem 0 0;
}

#tag-browser .clear-button {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

#tag-browser .tag {
  cursor: pointer;
  margin-bottom: .3em;

  &.active {
    background-color: #ff2e4d;

    &.series {
      background-color: #ff2e4d;
    }
  }
}

.book-info {
  font-size: .8em;
}

.hide {
  display: none;
}

.show {
  display: block;
}