#tag-browser {
  width: 75%;
  padding: 1em;
  margin: 1em auto;
  border: 1px solid black;
  position: relative;
}

#tag-browser .clear-button {
  position: absolute;
  top: 1em;
  right: 1em;
  display: none;
}

#tag-browser .tag {
  text-decoration: none;
}
  #tag-browser .tag:hover {
    text-decoration: underline;
    cursor: pointer;
  }

#tag-browser .active {
  background: purple;
}

.matching-items-list li {
  cursor: pointer;
  color: steelblue;
  font-size: 0.75rem;
}
  .matching-items-list li:hover {
    color: darkblue;
  }