.column.is-one-fifth{
  width: 25%;
}
#tag-browser {
  width: 95%;
  padding: 1em;
  margin: 1em auto;
  border: 1px solid black;
  position: relative;
}

#tag-browser .clear-button {
  position: absolute;
  top: 1em;;
  right: 1em;
}

#tag-browser .active {
  background: purple;
  color: white;
}

#selected-tag{
  color:red;
}
