.weather {
  padding: 15% 10% 0;
  position: relative;

  .city {
    color: rgba(255, 255, 255, 0.4);
    font-weight: bold;
    font-size: .8em;
    width: 80%;
    margin: 8% auto 0;
    text-align: center;
  }

  .forecast {
    position: relative;
    width: 80%;
    margin: auto;
    padding: 0;
    justify-content: center;
    text-align: center;

    .day {
      position: relative;
      display: inline-block; //flex;
      justify-content: center;
      padding: 0;
      margin: 0;
      margin-top: 70px;
      width: 19%;
      min-width: 150px;
      text-align: center;
      vertical-align: top;
      color: rgba(255, 255, 255, 0.7);

      &.now {
        margin-top: 0;

        .text {
          width: 100%;
        }
      }

      div {
        width: 100%;
      }

      .icon {
        font-size: 3em;
        padding-bottom: 25px;
      }

      .temp {
        font-size: 2em;
        font-weight: bold;
        .low {
          opacity: .4;
          font-size: .8em;
        }
      }

      .name {
        font-size: 1.5em;
      }

      .text {
        width: 80%;
        margin: 0 auto;
        line-height: 1em;
        // white-space: nowrap;
      }

      &.now {
        .icon {
          font-size: 8em;
          padding-bottom: 0;
        }
        .name {
          font-size: 2.5em;
        }
        .text {
          font-size: 1.5em;
        }
      }
    }
  }

  @media screen and (max-width: $medium) {
    padding: 5vh;

    .city {
      margin-top: 70px;
    }

    .forecast {
      width: 100%;
      vertical-align: top;

      .day {
        line-height: 1.25;
        vertical-align: top;
        margin-top: 20px;

        .text {
          width: 75%;
        }

        &.now {
          width: 100%;
          padding-bottom: 40px;
          margin-top: 0;

          .icon{
            line-height: 1.5;
          }
        }
      }
    }
  }

  // @media screen and (max-width: $small) and (max-width: 600px) {
  @media screen and (max-width: $small) {
    .city {
      margin-top: 50px;
    }

    .forecast {
      .day {
        padding-bottom: 40px;
        line-height: 1.25;

        &.future {
          width: 50%;
        }
      }
    }
  }

  @media screen and (max-width: $tiny) {
    .forecast {
      .day {
        &.future {
          width: 100%;
        }
      }
    }
  }  
}